#option{
    margin-left:0.7vw;
    margin-right:0.7vw;
}

#plusMemo{
    margin-left:0.7vw;
    margin-right:0.7vw;
}

.fa-solid.fa-gear.fa-3x{
    color: rgb(239, 239, 240);
}

.fa-solid.fa-plus.fa-3x{
    color: rgb(239, 239, 240);
}